<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//ibatis.apache.org//DTD Config 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!--  <settings>
        &lt;!&ndash; 打印查询语句 &ndash;&gt;
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>-->
<!--数据源配置 -->
<environments default="development">
    <environment id="development">
        <transactionManager type="jdbc" />
        <dataSource type="POOLED">
            <property name="driver" value="com.mysql.jdbc.Driver" />
            <property name="url" value="jdbc:mysql://localhost:3306/test" />
            <property name="username" value="root" />
            <property name="password" value="" />
        </dataSource>
    </environment>
</environments>
<mappers>
    <mapper resource="cmu/soc/mapper/PublicationMapper.xml" />
</mappers>
</configuration>
